footer-p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.flex-container-footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.grid-container-footer
{
    display: flex;
    margin-top: 30%;
    align-items: center;
}