*
{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.Menu-op
{
    display: none;
    font-size: x-large;
    
}

header.layout
{
    background-color: aqua;
    padding: 25px;
    max-width: 1800px;
    min-width: 280px;
}
@media	(max-width:	850px)	{
    .layout
    {
        background-color: aqua;
        padding: 25px;
        max-width: 850px;
        min-width: 280px;
    }
    }
    @media	(max-width:	950px)	{
        .layout
        {
            background-color: aqua;
            padding: 15px;
            max-width: 622px;
            min-width: 280px;
        }
        .Menu-op
        { 
          font-size: x-large;
          display: block;
        }
        .option
        {
            display: flex;
        }
        li
        {
            display: none;
        }
    }
    @media	(max-width:	622px)	{
        .layout
        {
            background-color: aqua;
            padding: 15px;
            max-width: 622px;
            min-width: 280px;
        }
        .Menu-op
        { 
          font-size: x-large;
          display: block;
        }
        .option
        {
            display: flex;
        }
        li
        {
            display: none;
        }
    }
    
    @media	(max-width:	446px)	{
        .layout
        {
            background-color: aqua;
            padding: 25px;
            max-width: 446px;
            min-width: 280px;
            
        }
        li
        {
            display: none;
        }

    }
    
    @media	(max-width:	342px)	{
        .layout
        {
            background-color: aqua;
            padding: 25px;
            max-width: 280px;
            min-width: 280px;
        }
    }
li
{
    list-style: none;
}
a
{
    color:aliceblue;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover
{
    color:gold;
}
.navbar
{
  
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
    
}
.logo
{
    display: block;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Menu
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}